<p>four-o-four works!</p>
<div class="overlay">
    <div class="message">
        <span class="f-o-f">
            404
        </span>
        <div class="p-d-flex">
            <span class="oops">Oops!</span>
            <span class="description">The page was not found.</span>
        </div>
        <!-- <p-button label="Go back to login page" icon="pi pi-check" ></p-button> -->
        <button icon="pi pi-arrow-left" pButton pRipple type="button" label="Go back" class="p-button-primary back-button"  routerLink="/login"></button>
    </div>
</div>